<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="opl.launchType">
<stringAttribute key="opl.debugModel.ATTR_ELEMENT_ID" value="=minTT1pmtnR\Run Con\figu\rationsrT\R"/>
<stringAttribute key="opl.debugModel.ATTR_PROJECT" value="minTT1pmtn"/>
<stringAttribute key="opl.debugModel.ATTR_RUN_CONFIG" value="TR"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/minTT1pmtn"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>